@import "../../styles/colors.scss";

.entry {
    padding: 1rem;
    border-radius: 3px;
    background-color: $white;
    margin: 10px 0;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
    transform-origin: top;
    animation: pop 1s ease-in-out;
}