@import "./colors.scss";

$font-size: 1rem;
$box-shad: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
$anim: 0.4s ease-in-out;

html, body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    font-family: Helvetica, sans-serif, Arial;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

#root {
    padding: 20px;
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
    color: $header;
}

.container {
    padding: 12px 0;

    &.main {
        max-width: 1280px; 
        margin: 0 auto;
    }

}

input, textarea {
    min-height: 3rem;
    border-radius: 0;
    margin: 0.5rem 0;
    border: none;
    padding: 0 0.5rem;
    min-width: calc(100% - 1rem);
    width: calc(100% - 1rem);
    background-color: #f2f2f2;

    font-size: $font-size;

    &::placeholder {
        color: #bfbfbf;
    }

    &.danger {
        border-bottom: 1px solid $danger;
    }
}

textarea {
    padding: 0.5rem;
}

label {
    &.primary { color: $primary;  }
       
    &.secondary { color: $secondary;  }
       
    &.danger { color: $danger;  }
       
    &.warn { color: $warn;  }
       
    &.link { color: $link;  }
}

button {
    min-height: 2.5rem;
    padding: 5px 10px;
    margin-right: 0.4rem;
    border-radius: 0.4em;

    text-transform: uppercase;
    
    font-weight: 600;
    font-size: $font-size;
    color: $white;
    opacity: 1;
    transition: opacity $anim;

    &:hover {
        box-shadow: $box-shad;
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

    &.primary {
        background-color: $primary;
    }

    &.secondary {
        background-color: $secondary;
    }

    &.danger {
        background-color: $danger;
    }

    &.warn {
        background-color: $warn;
    }

    &.link {
        background: transparent;
        border: none;
    }

    &.outline {
        &.primary {
            border: 1px solid $primary;
            background-color: transparent;
            color: $primary;
        }
    
        &.secondary {
            border: 1px solid $secondary;
            background-color: transparent;
            color: $secondary;
        }
    
        &.danger {
            border: 1px solid $danger;
            background-color: transparent;
            color: $danger;
        }
    
        &.warn {
            border: 1px solid $warn;
            background-color: transparent;
            color: $warn;
        }
    
        &.link {
            border: 1px solid $warn;
            background: transparent;
            color: $link;
        }
    }
}   

.center {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fill {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.loader {
    background-color: rgba($color: #000000, $alpha: 0.2);
    background-image: url('/images/pikachu.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999
}

.entry {
    padding: 1rem;
    border-radius: 3px;
    background-color: $white;
    margin: 10px 0;
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
}

.calendar-bg {
    $size: 44px;
    background-image: url('/images/calendar.svg');
    background-repeat: no-repeat;
    min-height: $size;
    width: $size;
    background-position: left center;
    background-size: cover;
    text-align: center;
    font-size: 0.8em;

    & > div {
        min-height: 100%;
        padding-top: ($size / 3.5);
        font-size: ($size /  2);
    }
}

.chip {
    border-radius: 30px;
    border: none;
    padding: 4px 8px;
    font-weight: 400;
    background-color: #e0e0e0;
    min-height: 1.5rem;
    height: 1.5rem;
    font-size: $font-size - 0.2rem;
    color: $black;
    text-transform: capitalize;
    transition: color $anim;
    user-select: none;
    cursor: pointer;

    &.selected {
        background-color: #b5b0b0;
        &:hover, &:focus, &:active {
            opacity: 0.8;
            outline: none;
        }

        img {
            transform: scaleY(1);
            margin-right: 5px;
            width: 10px;
            height: 10px;
        }
    }

    img {
        transform: scaleY(0);
        transition: width $anim, margin-right $anim, transform 0.2s ease-in-out;
        vertical-align: middle;
        width: 0;
        height: 0;
    }

    &:hover, &:focus, &:active {
        outline: none;
        color: #000000;
    }
}

.mood {
    margin: 10px;
    border-radius: 100%;
    width: 74px;
    height: 74px;
    opacity: 0.4;
    transition: opacity $anim;

    &.selected {
        opacity: 1;
        box-shadow: $box-shad;
    }

    img {
        width: inherit;
        height: inherit;
    }
}