$primary: #8282F6; // 1E91D6 // 2F4858
$secondary: #1481BA;//  #7EBCE6;
$danger: #C44536;
$warn: #F58A07;
$success: #BCE784; //81C14B
$link: #4392F1;

$black: #131200;
$white: #FDFFFC;
$header: #252242;

