$font-size: 1rem;
$box-shad: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
$anim: 0.4s ease-in-out;

@keyframes pop {
    0% { transform: scale(0.8); }
    65% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}